<a href="#" data-activates="slide-out" class="button-collapse NavbarAdmin">
    {% image '@AppBundle/Resources/public/img/menu.svg' %}
    <img src="{{ asset_url }}" alt="MenuAdmin" class="NavbarAdmin_img"/>
    {% endimage %}

</a>

<ul id="slide-out" class="side-nav">
        <li><a href="/register">Add User</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
