<div class="row">
    <div class="col s8">
        <h3>Liste des Clients</h3>
    </div>
    <div class="col s4">
        <input id="searchbar" type="text" name="searchbar" placeholder="Rechercher...">
    </div>
</div>
<div class="tab">
    <div id="table">
    </div>

    {% if is_granted('ROLE_REGIS') or is_granted('ROLE_TRESOR') %}
    <div class="tab_modification">
        <a href="#" class="btn" id="NewClient">Ajouter un client</a>

    </div>
    {% endif %}
</div>


<script>

    $('#table').load("{{ path('tabClient') }}");

    $("#NewClient").click(function(){
        $("#popin").load("{{ path('newclient') }}").fadeIn();
        $("#fond").fadeIn();
    });

    $('#fond').click(function () {
        $('#popin').fadeOut(200);
        $(this).fadeOut(200);

    });

    $('#searchbar').keyup(function () {

        $value = $(this).val();
        $page = 0;

        if($value.length > 0) {

            $('#table').load('{{ path('tabClient') }}',{
                req : $value,
                page : $page
            });

        }else{

            $('#table').load('{{ path('tabClient') }}');

        }
        verifPage();
    });


</script>