#more{
  padding:20px;
  width: 65vw;

  &:hover{
    background-color: initial !important;
  }
}
.rowActive {
  background-color: $maincolor !important;
  color: $white;
  transition: .5s;
  &:hover {
    background-color: $maincolor !important;

  }
}
#formNewUser h5{
  text-align: center;
}