#more{
  padding:20px;
  width: 65vw;

  &:hover{
    background-color: initial !important;
  }
}
.rowActive {
  //background-color: darken($fond, 15%) !important;
  transition: .5s;
  &:hover {
    background-color: darken($fond, 20%) !important;

  }
}
#formNewUser h5{
  text-align: center;
}